body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#a img {
    height: auto;
    width: 100%; /* Adjust as needed */
}

#container {
    display: flex;
    flex-direction: column;
    

    
}
.capital{
    font-size:100px; 
    
   
    
}

.line {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    align-items: center;
}

.menu-info {
    display: flex;
    align-items: center;
}

.menu-info span,
.price {
    font-size: 60px; /* Adjust as needed */
    margin-left: 10px; /* Adjust as needed */
}

.ingred {
    font-size: 40px; /* Adjust as needed */
    color: grey;
   /* Adjust as needed */
}
.dolla{
    font-size:60px;
}
.button {
   height:100px;
   width: 100px;
   margin-left:auto;
   margin-right:20px;
  
   
}
button{
    border:none;
    background-color: white;
    height:100px;
    width: 100px;
    margin-left:auto;
    margin-right:20px;
   
    
}
#order,#total{

    font-size:60px;
   
}

.text {
    font-size: 80px;
    text-align: center;
    margin-top: 200px;
}

.p {
    font-size: 80px;
    margin-left: 50px;
}
.order{
    font-size:60px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border:solid 2px grey;
    height:200px;
    width: 500px;
    border-radius: 8px;
}